.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.error__code {
  font-size: 6rem;
  font-weight: bold;
}

.error__message {
  font-size: 2rem;
}

.error-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
  margin-top: 2rem;
}

.error__link {
  display: block;
  color: #eeeeee;
  text-align: center;
  padding: 1rem;
  border-radius: 9999rem;
  background-color: #222222;
  transition: background-color .2s;
}

.error__link:hover {
  background-color: var(--primary-color);
}