header {
  height: 60px;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.h {
  display: flex;
  align-items: center;
  height: 100%;
}

.h-logo {
  height: 100%;
  padding: 0.4rem 1rem;
}

.h-logo__img {
  display: block;
  max-height: 100%;
}

.h-nav {
  margin: 0 2rem;
  margin-left: auto;
}

.h-nav ul {
  display: flex;
  list-style: none;
}

.h-nav li {
  width: 100px;
}

.h-nav a {
  display: block;
  width: 100%;
  color: #eeeeee;
  text-align: center;
  font-size: 1.15rem;
}

.h-actions {
  display: flex;
  height: 100%;
}

.h-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #eeeeee;
  font-weight: bold;
  padding: 0 2rem;
}

.h-btn--login {
  background-color: var(--primary-dark-color);
}

.h-btn--register {
  background-color: var(--secondary-color);
}

.h-profile {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
  padding: 0 1rem;
}

.h-profile__icon {
  height: 80%;
  border: solid 2px var(--primary-dark-color);
  border-radius: 50%;
  cursor: pointer;
}

.h-profile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 250px;
  list-style: none;
  background-color: var(--primary-dark-color);
  transition: opacity .2s;
  opacity: 0;
  pointer-events: none;
}

.h-profile:hover .h-profile-menu {
  opacity: 1;
  pointer-events: initial;
}

.h-profile-menu li {
  border-top: solid 1px #eeeeee3a;
  transition: background-color .2s;
}

.h-profile-menu li:hover {
  background-color: var(--primary-color);
}

.h-profile-menu a,
.h-profile-menu button {
  display: block;
  color: #eeeeee;
  font-size: 0.9rem;
  padding: 1rem 1.5rem;
}

.h-profile-menu button {
  font-size: 0.9rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}